body {
    background-color: white;
}

*, body, html {
    font-family: Nimbus Sans L;
    font-size: 10pt;
}

div.person {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

div.person > div {
    text-align: center;
    padding: 20px;
    display: inline-block;
    vertical-align:top;
}

div.person div.infos,
div.projects,
ul.table
{
    display:table;
    width:100%;
}

ul.table {
    list-style-type: none;
    padding: 0;
}

div.person div.infos div.infoGroup,
div.project,
ul.table > li
{
    display: table-row-group;
}

div.person div.infos div.info,
div.project > div,
dl
{
    display:table-row;
}

div.person div.infos div.label,
div.person div.infos div.value,
div.project div.label,
div.project div.value,
ul.table dt,
dd
{
    display: table-cell;
    padding: 5px 10px;
}

div.project div.label,
dt
{
    width: 14%;
}


h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 2em;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 2em;
}

h3 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

div.paragraph {
    padding-top: 2mm;
    padding-bottom: 2mm
}

div.inline {
    display: inline-block;
}

.even
{
    background-color:#FFFFEE
}

.odd
{
    background-color:#FFFFDD
}

img
{
    width: 175px;
}

div.company div.logo
{
    float: right;
}