body {
    background-color: white;
}

*, body, html {
    font-family: Nimbus Sans L;
    font-size: 10pt;
}

div.person {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: #FFFFDD;
}

div.person > div {
    text-align: center;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    vertical-align:top;
}

div.person div.infos {
    display:table;
    width:100%;
    /*table-layout: fixed;*/
}

div.person div.infos div.infoGroup {
    display: table-row-group;
}

div.person div.infos div.info {
    display:table-row;
}

div.person div.infos div.label{
    display: table-cell;
}

div.person div.infos div.value{
    display: table-cell;
}

h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 10mm;
    margin-bottom: 5mm;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 5mm;
    margin-bottom: 2mm;
}

div.paragraph {
    padding-top: 2mm;
    padding-bottom: 2mm
}

div.highlighted {
    font-style: italic;
    font-weight: bold;
}

div.inline {
    display: inline-block;
}

.even
{
    background-color:#FFFFEE
}

.odd
{
    background-color:#FFFFDD
}

img
{
    width: 175px;
}

div.company div.logo
{
    float: right;
}