body {
    background-color: white;
}

*, body, html {
    font-family: Arial,sans-serif;
    font-size: 10pt;
}

div.person {
    border-radius: 20px 100px;
    overflow: hidden;
}

div.period div.description
{
    overflow: hidden;
    width: 100%;
}

div.person > div {
    display: inline-block;
    vertical-align:top;
}

div.person > div.description
{
    margin-left: 50px;
    margin-top: 27px;
}

div.person h1,
div.person h2,
div.person h3
{
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-style: normal;
}

div.person div.infos
{
    margin-top: 20px;
}

div.person div.infos,
ul.table
{
    display:table;
    width:100%;
}

ul.table {
    list-style-type: none;
    padding: 0;
    page-break-inside: avoid !important;
}

dd
{
    margin: 0;
}

div.person div.infos div.infoGroup,
ul.table > li
{
    display: table-row-group;
}

div.person div.infos div.info,
dl
{
    display:table-row;
}

div.person div.infos div.label,
div.person div.infos div.value,
ul.table dt,
dd
{
    display: table-cell;
}

div.experiance,
div.project
{
    page-break-inside: avoid !important;
}

div.project div
{
    vertical-align: top;
}

div.project div.label,
div.project div.value,
div.project div.skillrefs,
ul.table dt,
dd
{
    padding: 4px 8px;
}

ul.table dt,
dd
{
    vertical-align:top;
    border: 1px solid white;
}

div.person div.infos div.label,
div.person div.infos div.value
{
    padding-right: 80px;
}

div.project div.label,
div.project div.header,
dt
{
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}

div.project div.label,
dt
{
    width: 21%;
}

h1, h2, h3, h4,
div.packeryItem
{
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    letter-spacing: 3px;
}

h1,
div.packeryItem
{
    font-size: 25px;
    margin-top: 2em;
    color: #5b5b5b;
}

div.packeryItem {
    margin-top: 0;
}

h2
{
    margin-top: 1.5em;
    font-size: 12pt;
    color: #848484;
}

h3
{
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h4 {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

div.paragraph {
    padding-top: 2mm;
    padding-bottom: 2mm
}

div.inline {
    display: inline-block;
}

.even
{
    background-color:#FFFFEE
}

.odd
{
    background-color:#FFFFDD
}

.person img
{
    width: 200px;
}

div.experiance div.period
{
    margin-bottom: 30px;
}

div.experiance div.company,
div.experiance div.function
{
    display: inline-block;
}

div.experiance div.function,
div.experiance div.function h2,
div.experiance div.function h3
{
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 2px;
}

div.project div.skillrefs
{
    margin-left: 20px;
    margin-bottom: 5px;
}

dl.activity div.text
{
    display: inline-block;
}

dl.activity div.skillrefs
{
    width: 28%;
    float: right;
    margin: 5px;
}

div.period div.description > div.skillrefs
{
    padding: 50px;
}

div.skillrefs img
{
    max-width: 100px;
    max-height: 40px;
}

i
{
    color: #333;
}