body {
    background-color: white;
}

*, body, html {
    font-family: "Ubuntu Light";
    font-size: 10pt;
}

div.person {
    border-radius: 20px 100px;
    overflow: hidden;
}

div.period div.description
{
    border-radius: 20px 50px;
    overflow: hidden;
    width: 100%;
}

div.person > div {
    display: inline-block;
    vertical-align:top;
}

div.person > div.description
{
    margin-left: 50px;
    margin-top: 27px;
}

div.person h1,
div.person h2,
div.person h3
{
    margin-top: 0;
    margin-bottom: 5px;
}

div.person div.infos
{
    margin-top: 20px;
}

div.person div.infos,
ul.table
{
    display:table;
    width:100%;
}

ul.table {
    list-style-type: none;
    padding: 0;
}

dd
{
    margin: 0;
}

div.person div.infos div.infoGroup,
ul.table > li
{
    display: table-row-group;
}

div.person div.infos div.info,
dl
{
    display:table-row;
}

div.person div.infos div.label,
div.person div.infos div.value,
ul.table dt,
dd
{
    display: table-cell;
}

div.project div
{
    vertical-align: top;
}

div.project div.label,
div.project div.value,
div.project div.skillrefs,
ul.table dt,
dd
{
    padding: 4px 8px;
}

ul.table dt,
dd
{
    vertical-align:top;
    border: 1px solid white;
}

div.person div.infos div.label,
div.person div.infos div.value
{
    padding-right: 80px;
}

div.project div.label,
dt
{
    width: 14%;
}


h1 {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 2em;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 2em;
}

h3 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

div.paragraph {
    padding-top: 2mm;
    padding-bottom: 2mm
}

div.inline {
    display: inline-block;
}

.even
{
    background-color:#FFFFEE
}

.odd
{
    background-color:#FFFFDD
}

.person img
{
    width: 200px;
}

div.company div.logo
{
    float: right;
}

div.project div.skillrefs
{
    margin-left: 20px;
    margin-bottom: 5px;
}

dl.activity div.text
{
    display: inline-block;
}

dl.activity div.skillrefs
{
    width: 45%;
    float: right;
    margin: 5px;
}

div.period div.description > div.skillrefs
{
    padding: 50px;
}

div.skillrefs img
{
    max-width: 100px;
    max-height: 40px;
}