*, body, html {
    font-family: Arial,sans-serif;
    font-size: 11pt;
    line-height: 22px;
}

.odd
{
    background-color: #c9ef8f;
}

.even,
div.person
{
    background-color: #e6ffb2;
}

div.person > div.description {
    padding-top: 18px;
}

a
{
    color: black;
}

div.person h1,
div.person h2,
div.person h3
{
    color: #333;
    font-style: normal;
    line-height: initial;
}

div.project div.header,
dt
{
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}

h1, h2, h3, h4,
div.skillref
{
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    letter-spacing: 3px;
}

h1,
div.skillref
{
    color: #5b5b5b;
}

h1
{
    font-size: 33px;
}

h2
{
    font-size: 22px;
    color: #848484;
}

h3
{
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}
i
{
    color: #333;
}

div.experiance div.function,
div.experiance div.function h2,
div.experiance div.function h3
{
    letter-spacing: 2px;
}

@media print {
    body {
        zoom: 75%;
    }
}

.acc {
    font-weight: bold;
    color: #34a83a;
}
