*, body, html {
    font-family: Arial,sans-serif;
    font-size: 10pt;
}

.odd
{
    background-color: #c9ef8f;
}

.even,
div.person
{
    background-color: #e6ffb2;
}

a
{
    color: black;
}

div.person h1,
div.person h2,
div.person h3
{
    color: #333;
    font-style: normal;
}

div.project div.header,
dt
{
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}

h1, h2, h3, h4,
div.skillref
{
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    letter-spacing: 3px;
}

h1,
div.skillref
{
    color: #5b5b5b;
}

h2
{
    font-size: 12pt;
    color: #848484;
}

h3
{
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}
i
{
    color: #333;
}

div.experiance div.function,
div.experiance div.function h2,
div.experiance div.function h3
{
    letter-spacing: 2px;
}