div.project.core4 div.skillrefs,
div.project.core div.skillrefs,
div.project.agile div.skillrefs,
div.project.matche4 div.skillrefs
{
    display: inline-block;
    margin: 5px;
    width: 18%;
}

div.project.core4 div.value,
div.project.core div.value,
div.project.agile div.value,
div.project.matche4 div.value
{
    width: 75%;
    display: inline-block;
}