/* pdf borders 17,5mm 16mm  */
@media print {
    @page {
        margin: 17.5mm 16mm 17mm 16mm;
    }
}

h1.Weiterbildungen {
    page-break-before: always;
}

@media print {
    h1.Werdegang,
    h1.Kompetenzen
    {
        margin-top: -10px;
    }
}