div.project.core4 div.skillrefs,
div.project.core div.skillrefs,
div.project.agile div.skillrefs,
div.project.matche4 div.skillrefs,
div.project.sonepar div.skillrefs,
div.project.esa div.skillrefs,
div.project.sds div.skillrefs,
div.project.acs div.skillrefs,
div.project.asd div.skillrefs,
div.project.vv div.skillrefs
{
    display: inline-block;
    margin: 8px;
    width: 18%;
}

div.project.core4 div.value,
div.project.core div.value,
div.project.agile div.value,
div.project.matche4 div.value,
div.project.sonepar div.value,
div.project.esa div.value,
div.project.sds div.value,
div.project.acs div.value,
div.project.asd div.value,
div.project.vv div.value
{
    width: 75%;
    display: inline-block;
}

h1.Berufserfahrung {
    page-break-before: always;
}