@font-face {
    font-family: Frutiger;
    font-weight: 400;
    font-style: normal;
    src: url(zkb/font/FrutigerLTW02-55Roman.woff) format("woff")
}

@font-face {
    font-family: Frutiger;
    font-weight: 900;
    font-style: normal;
    src: url(zkb/font/FrutigerLTW02-75Black.woff) format("woff")
}

@font-face {
    font-family: Frutiger;
    font-weight: 700;
    font-style: normal;
    src: url(zkb/font/FrutigerLTW02-65Bold.woff) format("woff")
}

body, html, a {
    font: normal 400 100.01%/1.25em FrutigerRegular,"Helvetica Neue",Helvetica,sans-serif;
    /*font: normal 400 100.01%/1.25em FrutigerRegular,"Helvetica Neue",Helvetica,sans-serif;*/
    color: #003cb4;
}

.container {
    font-size: .9375rem;
    font-family: Frutiger,FrutigerRegular,"Helvetica Neue",Helvetica,sans-serif;
}


div.person
{
    background-color: #003cb4;
    color: white;
    margin-bottom: 1.875em;
}

div.person > div.description
{
    padding-left: 30px;
    padding-top: 10px;
}
div.person div.infos {
    margin-top: 5px;
}

div.person h1,
div.person h2,
div.person h3
{
    margin: 0;
}

div.person h1,
div.person h2
{
    color: white;
}

div.person h1
{
    font-size: 42px;
    line-height: 1.27273em;
}

div.person h2
{
    font-size: 24.5px;
}

div.person h3
{
    color: #00bec8;
    font-style: normal;
    font-weight: 900;
    line-height: 2.125rem;
}

dt,
h3,
div.project div.header,
div.referenceentry .name
{
    font-family: Frutiger,FrutigerBold,FrutigerRegular,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 700;
    font-size: .9375rem;
}

h1,
h2,
div.skillref
{
    font-family: Frutiger,FrutigerBold,"Helvetica Neue",Helvetica,Arial;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 2.125rem;
}

h1, h2 {
    margin-top: 20px;
}

h4 {
    font-weight: bold;
}
i
{
    font-style: normal;
    color: #006cff;
}

.even,
.odd
{
    background-color: white;
}

ul.table.skillgroup:not(:last-child),
ul.table.trainings dt,
ul.table.trainings dd,
ul.table.languages dt,
ul.table.languages dd,
ul.table.certificats dt,
ul.table.certificats dd,
ul.table.projects dt,
ul.table.projects dd {
    border-bottom: 1px solid #003cb4;
}

div.project div.value,
div.project div.skillrefs,
ul.table dt,
dd
{
    padding: 4px 0;
}

.table.skillgroup dd,
.table.skillgroup dt {
    padding: 0;
}

.table.skillgroup,
ul.table,
div.container div.references li
{
    padding-bottom: 1em;
}

ul:not(.table) {
    list-style-type: none;
    line-height: 1.53846em;
}

ul:not(.table) li {
    margin-bottom: .30769em;
}

ul:not(.table) li:before {
    width: 5px;
    height: 5px;
    margin-left: -12px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    content: '-';
    margin-top: 0;
    background-color: transparent;
}

.acc {
    color: #00bec8;
}

div.experiance > .header {
    display: flex;
    margin-bottom: 25px;
}

div.experiance > .header > div {
    margin: 0;
}

.experiance > .header .company {
    width: 100%;
    display: flex;
    align-items: center;
}

.experiance > .header div.function {
    white-space: nowrap;
    background: #ebebeb;
    padding: 1.15385em 1.38462em;
}

.experiance > .header div.function > div {
    width: 350px;
    text-align: right;
}

div.experiance div.period {
    margin-bottom: 30px;
    margin-top: -40px;
}

.experiance > .header::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.project .horizontal .skillrefs{
    margin-top: -25px;
}

.vertical div.skillrefs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.referenceentry .company {
    align-items: flex-end;
    display: flex;
}
