/*.container {transform: scale(.7);}*/
body {
    zoom: 80%;
}
@page {
    size: 210mm 297mm;
    margin: 20mm;
}

ul.table {
    page-break-inside: avoid
}

div.experiance,
div.project
{
    page-break-inside: avoid
}